body {
  height: auto;
  width: 250px;
  text-align: center;
}

img {
  height: 190px;
  width: 200px;
}

button {
  height: auto;
  width: 200px;
  border-radius: 12px;
  cursor: pointer;
  border: 3px solid black;
  background: red;
  font-size: 15px;
  padding: 12px;
}
